@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";



@theme {
  --font-bodyFont: "Poppins", "sans-serif";
  --font-titleFont: "Montserrat", "sans-serif";
  
  --color-bodyColor: #212428;
  --color-lightText: #c4cfde;
  --color-boxBg: 'linear-gradient(145deg,#1e2024,#23272b)';
  --color-designColor: #ff014f;
  
    --ease-shadowOne: '10px 10px 19px #1c1e22,-10px -10px 19px #262a2e';
  /* ... */
 
}

@layer components {
  .bannerIcon {
    @apply w-14 h-14 bg-black/25 text-gray-200 text-2xl inline-flex items-center 
      justify-center rounded-md shadow-sm hover:bg-black/40 hover:-translate-y-1 
      transition-all hover:text-designColor cursor-pointer duration-300;
  }
  .resumeLi {
    @apply w-full h-20 bg-black/25 text-xl text-gray-300 flex
            justify-center cursor-pointer hover:bg-black/40 duration-300 items-center 
            border-[1px] rounded-none;
  
}  
 .bgOpacity {
    @apply bg-black bg-black/40;
  }
  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText
                px-4 active:outline-none focus-visible:outline-designColor outline-none 
                focus-visible:border-b-transparent
                duration-300;
  }
}